{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['description'] }}</h1>

<br>
    <p class="lead">The purpose of this app is to show the utility of the<a href = "\paper.pdf"> research paper </a>.
        </p>

    <p class ="lead">The research paper is written by Joannes Pasch and supervised by Terence van Zyl. The research is
        completed in order to obtain an Honours degree in Big Data Analytics at the University of Witwatersrand.</p>

    <p class ="lead">The final aim and goal of this research project was to observe the ability of Deep Similarity learning
    to predict the rankings of the English premier League.</p>


{% endblock %}
